body {
  background-color: #000000;
  margin: 0 10%;
  font-family: sans-serif;
}
h1{
 color: #ffffff;
 text-align: center;
 font-family: serif;
 font-weight: normal;
 text-transform: uppercase;
 border-bottom: 1px solid #57b1dc;
 margin-top: 30px;}

 li{color: #4fff55}
 dt{color: #ffffff}
 dd{color: #4fff55}

h2{ text-align: center;
 color: #387deb;
 font-size: 1em;}
h3{
color: #387deb;
font-size: 1em;}
h4{
 color: #387deb;
font-size: 1em;
text-align:center;}

p{
 color: #4fff55;
 text-align: center;
}
h5{color: #387deb;
font-size: 1em;}

h6{color: #387deb}


footer{text-align: left;
color: #387deb;
font size: 1em;}
